#content-area {
    padding: 30px;
    padding-left: 280px;
    width: auto;
    margin: auto;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: .25rem;
}

.card {
    margin: 8px;
    max-width: -webkit-fill-available;
    padding: 1.25rem;
    color: #1e1e1e;
    flex-grow: 1!important;
    transition: all .5s;
}

.page-title {
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}

.pb-0, .py-0 {
    padding-bottom: 0!important;
}

.ml-4, .mx-4 {
    margin-left: 1.5rem!important;
}

.mt-2, .my-2 {
    margin-top: .5rem!important;
}

.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    text-transform: lowercase;
    color: #6b6885;
    font-weight: 800;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.username>h4 {
    font-size: 20px;
    line-height: 38px;
    margin-right: 9px;
    
}