:host {
    margin: 8px;
    max-width: 100%;
    padding: 1.25rem;
    color: #1e1e1e;
    flex-grow: 1!important;
    transition: all .5s;
}

:host {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
