.card {
    margin: 7rem;
    max-width: 100%;
    padding: 2rem;
    color: #1e1e1e;
    flex-grow: 1!important;
    transition: all .5s;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

#content-area {
    padding: 30px;
    padding-left: 280px;
    width: auto;
    margin: auto;
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.login_btn {
    border: 2px solid rgb(53, 37, 204);
    background: 0 0;
}

.login_btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: 0 0;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 70px;
    outline: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
    transition: all .5s;
    min-width: 200px;
    text-align: center;
    cursor: pointer;
    margin: 5rem 27rem;
}

.login_btn:hover {
    background: rgb(53, 37, 204);
    color: #fff;
}

.flex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}

.flex-row {
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}