<nav id="sidebar">
  <div class="sidebar-header">
  <div class="d-flex align-items-center flex-row mb-3">
    <img class="logo-small" src="../../assets/images/logo.png">
  <span id="sidebar-title">ODIN</span>
  </div>
</div>

<ul class="list-unstyled components">
  <li class="" id="link-dashboard">
    <a href="/dashboard"><fa-icon [icon]="faHome"></fa-icon>
      <span class="sidebar-nav-item">Dashboard</span>
    </a>
  </li>
  <li id="link-account">
    <a href="/dashboard/account"><fa-icon [icon]="faCog"></fa-icon>
      <span class="sidebar-nav-item">Account</span>
    </a>
  </li>
  <li>
    <a class="logout-button" href="#" data-no-instant=""><fa-icon [icon]="faPowerOff"></fa-icon>
      <span class="sidebar-nav-item">Logout</span>
    </a>
  </li>
</ul>
</nav>