[Unit]
Description=odin
ConditionPathExists=$GOPATH/src/2020-ca400-urbanam2-mcdermj7/src/odin-engine
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
RestartPreventExitStatus=0
TimeoutStopSec=10
ExecStart=/home/odin/go_projects/src/2020-ca400-urbanam2-mcdermj7/src/odin-engine/odin-engine
PermissionsStartOnly=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=odin

[Install]
WantedBy=multi-user.target
