<div class="card">
  <h3>Jobs List</h3>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5>Job 1</h5>
        <h5>3 days ago</h5>
      </div>
      <h6>This job should say hello</h6>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5>Job 1</h5>
        <h5>3 days ago</h5>
      </div>
      <h6>This job should say hello</h6>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5>Job 1</h5>
        <h5>3 days ago</h5>
      </div>
      <h6>This job should say hello</h6>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5>Job 1</h5>
        <h5>3 days ago</h5>
      </div>
      <h6>This job should say hello</h6>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5>Job 1</h5>
        <h5>3 days ago</h5>
      </div>
      <h6>This job should say hello</h6>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5>Job 1</h5>
        <h5>3 days ago</h5>
      </div>
      <h6>This job should say hello</h6>
    </a>
  </div>
</div>