:host {
    margin: 8px;
    max-width: max-content;
    padding: 1.25rem;
    color: #1e1e1e;
    flex-grow: 1!important;
    transition: all .5s;
}

:host {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 20%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

/* .list-group {
    max-width: 400px;
} */

.list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

/*The styles 'code' below is copied from bootstrap and is not original, but some minimal changes were made*/

.w-100 {
    width: 100%!important;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.align-items-start {
    -webkit-box-align: start!important;
    -ms-flex-align: start!important;
    align-items: flex-start!important;
}

.flex-column {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.list-group-item-action {
    width: 100%;
    color: #495057;
    text-align: inherit;
}

a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

/* a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
} */

.justify-content-between {
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.mb-1, .my-1 {
    margin-bottom: .25rem!important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}