.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
  }
  body {
    padding: 0px;
    margin: 0px;
  }

  h1, h2, h3, h4, h5 {
  font-family: 'Roboto'!important;
  text-transform: capitalize!important;
  margin: 0!important;
  color: #42495b!important;
  }

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      margin-bottom: .5rem!important;
      font-family: 'Roboto'!important;
      font-weight: 500!important;
      line-height: 1.2!important;
      color: inherit!important;
  }

  h3 {
      font-size: 28px;
  }